### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv
.venv
.env
.github/skills/jira-issue/scripts/response.json
.github/skills/confluence-page/scripts/response.json